[*.cs]

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

csharp_using_directive_placement=inside_namespace:silent
csharp_prefer_simple_using_statement=true:suggestion
csharp_prefer_static_local_function=false:suggestion

[*.{cs,vb}]
dotnet_style_object_initializer=false:suggestion
dotnet_style_collection_initializer=true:suggestion